/* .div100{
    width: 100%;
    height: 80%;
}  */
div.main{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
/* header:active{
  background-color: #ffcc00;
  color: #333;
}
header:active{
  text-decoration: underline;
} */
.header-div{    
    background-image: url("./32.png");
    background-size: cover;
    background-repeat: no-repeat; 
    /* height: 80%; */
    width:100%; 
    height: 97%;
    /* width: 250px; */
    background-color: aquamarine;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}
.li, .a{
    display: inline;
    font-size: large;
    padding: 10px;
}
.a{
    text-decoration: none;

}
/* header{
    width: 100px;
    height: 200px;
    background-color: #777;
} */
/* .li{
    background-color: blue;
} */
.ul{
    /* background-color: blueviolet; */
    /* width: 100%;  */
    /* height: 100%; */
    /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}
/* .header-images-div{    
    background-image: url("32.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 80%; */
    /* width: 100%; 
    height: 100%; */
    /* width: 250px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px; */
     
    /* width: 100%;
    height: 80%;
    background-color: aliceblue;
    border: 2px solid red ; */
     

.images{
    width: 100%; 
    height: 100%;
    /* width: 250px; */
    margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}
div.container {
    /* margin-top: 10px; */
    /* height: 100%; */
    padding: 10px;
    border-radius: 10px;
  }
  img{
    border-radius: 20px 10px 0px 20px;
  }
  /* details{
    text-align: center;
    width: 100%;
    height:100px;
    overflow: hiden;
  } */
  /* Default styles for desktop */
.images {
  display: inline-block;
  width: 47%; /* Set a width to accommodate two divs in a row */
  margin: 1%; /* Add some margin for spacing between divs */
}

/* Media query for devices with a maximum width of 768 pixels (typical tablets) */
@media only screen and (max-width: 768px) {
  .images {
      width: 100%; /* Set width to 100% for a single div in a row */
      margin: 0; /* Remove margin for better spacing in mobile view */
  }
}
